.heading {
    text-align: center;
    font-family: 'Major Mono Display', monospace;

}

.container {
    background-color: rgb(135,206,250);
    padding: 40px;
    font-size: 20px;
}

#cast {
    font-size: 25px;
     font-family: 'Charm', cursive;
    
}

.synopsis {
    width:80%;
    height:10%;
    margin: 0 auto;
    letter-spacing: 5px;
    
}


h2{
    font-family:  'Charm', cursive;
    font-size: 30px
    
}