.heading {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    padding: 100px;
    color: red;
}
.title {
    color: coral;
    padding: 50px;
}

.container {
    /*background-color: rgb(135,206,250);*/
    
    padding: 50px;
    font-size: 20px;
    opacity: 0.
}

.cast{
    text-align: center;
    font-size: 40px;
}

.name {
    width:200px;
    
    font-size: 25px;
    font-family: 'Charm', cursive;
    display: inline-block;
    margin: 0 11%;
    text-align: center;
    background-color: skyblue;
    border-color: red;
}

.synopsis {
    
    height:10%;
    min-width: 280px;
    max-width: 980px;
    margin: 0 auto;
    letter-spacing: 5px;
    font-size: 25px;
    padding: 10px;
    color: red;
    opacity: 0.5;
}

h2{
    font-family:  'Charm', cursive;
    font-size: 30px;
    
}

game-over{
    background-image: url("gameover.png");
    background-repeat: no-repeat;
    background-size: cover;
}


#phone {
    background-image: url("phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*https://svgsilh.com/image/2435642.html*/

}

body{
    background-color: lightblue;
}
