.heading {
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    padding: 100px;
    color: red;
}
.title {
    color: coral;
    padding: 50px;
}

span{
    color:darkblue;
    font-size: larger;
}
.container {
    /*background-color: rgb(135,206,250);*/
    
    padding: 50px;
    font-size: 20px;
    margin-left: 5%
}

h2{
    text-align: center;
    font-size: 40px;
}

.name {
    width:150px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Charm', cursive;
    display: inline-block;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    background-color: skyblue;
    position: relative;
    left: 32%;
    margin-right: 40px;
}

.center{
    width:120%;
}

.synopsis {
    
    height:10%;
    min-width: 280px;
    max-width: 980px;
    margin: 0 auto;
    letter-spacing: 5px;
    font-size: 25px;
    padding: 10px;
    color: red;
    opacity: 0.8;
}

h2{
    font-family:  'Charm', cursive;
    font-size: 30px;
    
}

#game{
    background-image: url("gameover.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:250px;
    margin-bottom: 50px;
}


#phone {
    background-image: url("phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /*https://svgsilh.com/image/2435642.html*/

}

body{
    background-color: lightblue;
}

input[type=text]{
    padding:8px;
    font-size: 15px;
}


input[type=submit]{
    width: 20%;
    padding: 10px;
    background-color: coral;
    
}

input[type=submit]:hover{
    background-color: lightgreen;
    padding: 12px;
}

textarea{
    font-size:30px;
    background-color: lightgrey;
}
.form{
    color: navy;
}

